* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    width: 244px;
}

div {
    border: solid 3px gray;
    border-radius: 15px;
    padding: 20px;
    width: 250px;
}

button {
    background-color: black;
    color: white;
    width: 244px;
    height: 40px;
    margin: 5px;
    cursor: pointer;
    border-radius: 10px;
}